---
layout: post
title:  "Creating your own blog with Ruby for free"
date:   2025-07-03 12:01:16 +0200
categories: articles
---

<p>You'll find this post in your <code>_posts</code> directory. Go ahead and edit it and re-build the site to see your
  changes. You can rebuild the site in many different ways, but the most common way is to run
  <code>bin/bridgetown start</code>, which launches a web server and auto-regenerates your site when a file is updated.
</p>

<p>Bridgetown requires blog post files to be named according to the following format:</p>

<p><code>YEAR-MONTH-DAY-title.EXT</code></p>

<p>Where <code>YEAR</code> is a four-digit number, <code>MONTH</code> and <code>DAY</code> are both two-digit numbers,
  and <code>EXT</code> is the file extension representing the format used in the file (for example, <code>md</code> for
  Markdown). After that, include the necessary front matter. Take a look at the source for this post to get an idea
  about how it works.</p>

<p>Bridgetown also offers powerful support for code snippets:</p>

<br>
<div class="frappe bg-ctp-base p-2 rounded-lg">
<pre><code class="language-ruby">def print_hi(name)
  puts "Hi, #{name}"
end
print_hi('Tom')
#=> prints 'Hi, Tom' to STDOUT.
</code></pre>
</div>
<br>
<div class="frappe bg-ctp-base p-2 rounded-lg">
<pre><code class="language-javascript">const hello = () => {
  console.log('Hello World');
 }
</code></pre>
</div>

<p>Check out the <a href="https://bridgetownrb.com/docs/">Bridgetown docs</a> for more info on how to get the most out
  of Bridgetown. File all bugs/feature requests at
  <a href="https://github.com/bridgetownrb/bridgetown">Bridgetown's GitHub repo</a>. If you have questions, you can ask
  them on <a href="https://github.com/bridgetownrb/bridgetown/discussions">Bridgetown Discussions on GitHub</a>.</p>
