---
# Feel free to add content and custom Front Matter to this file.

layout: default
---

<div class="flex md:flex-row-reverse flex-col items-center md:gap-6">
  <img
    src="/images/headshot.png"
    class="block size-58 rounded-4xl"
    alt="profile picture">
  </img>
  <h1 class="font-bold text-4xl pt-5">Hello! I'm Miguel, a developer, remote worker, and coffee drinker</h1>
</div>
<div class="pt-8 text-lg text-gray-700">
  <p>I'm Miguel Torres, a software developer based in Valencia, Spain. I write code for a living, mostly Ruby and JavaScript. Whether it’s a new product, a better backend, or a more seamless payment flow, I get excited about making things work well and last long. I help startups scale by focusing on sustainable, well-crafted solutions, and I’m always curious about how to make things better.</p>
</div>
