@import "tailwindcss";
@import "./jit-refresh.css";
@import "@catppuccin/highlightjs/css/catppuccin-latte.css";
@import "@catppuccin/highlightjs/css/catppuccin-frappe.css";
@import "@catppuccin/tailwindcss/frappe.css";

@layer base {
    body {
        @apply bg-stone-50;
    }
    p {
        @apply text-gray-700;
    }
}

code {
    @apply p-0.5;
    @apply rounded-md;
}

pre.highlight {
    padding: 16px;
    background-color: #303446;
    margin-bottom: rem;
    @apply rounded-lg
}

div.highlighter-rouge {
    @apply py-8;
}
