<nav class="flex flex-row justify-between pt-4 pb-6">
  <ul class="flex">
    <li>Mickey Codes</li>
  </ul>
  <ul class="flex">
      <li><a href="<%= relative_url('/posts') %>">Blog</a></li>
   </ul>
</nav>