<nav class="flex flex-col justify-between">
  <ul class="flex">
    <li>Mickey Codes</li>
  </ul>
  <ul class="flex">
      <li><a href="<%= relative_url('/') %>" class="text-5xl text-blue-600">Home</a></li>
      <li><a href="<%= relative_url('/about') %>">About</a></li>
      <li><a href="<%= relative_url('/posts') %>">Posts</a></li>
   </ul>
</nav>